body {
  background: #ccc;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  padding: 40px;
  margin: auto;
}

a {
  text-decoration: none;
}

.navBar {
  display: flex;
  justify-content: space-between;
  top: 0;
  position: sticky;
  height: 80px;
  color: #fff;
  background: #333;
  padding: 10px 70px;
  opacity: 0.9;
}

.navBar h1 {
  border-bottom: rgb(255, 255, 255) 3px solid;
}

.navList {
  display: flex;
  text-decoration: none;
  list-style: none;
  margin-right: 50px;
  font-size: 30px;
}

.navList a {
  text-decoration: none;
  color: #fff;
  margin-right: 40px;
  transition: color 0.5s;
}

.navList a:hover {
  color: #666;
}

img {
  width: 500px;
  height: 500px;
  border-radius: 50px;
}

.my-photo {
  display: flex;
  justify-content: space-between;
}

.about-me {
  background: #fff;
  margin-left: 20px;
  padding: 0px 40px;
  font-size: 25px;
  line-height: 1.7;
  height: 500px;
  font-family: "Times New Roman", Times, serif;
  color: #333;
  border-radius: 50px;
  text-align: center;
  overflow: auto;
}

.skillsSection,
.educationSection {
  background: #24686b;
  height: 600px;
  overflow: hidden;
}

.my-skills {
  display: flex;
  justify-content: space-between;
  padding: 0px 130px;
}

.skills,
.education {
  font-size: 30px;
  color: aliceblue;
  width: 45%;
}

.skills {
  line-height: 2;
}

.education {
  line-height: 1.5;
}

.experience {
  font-size: 30px;
  color: #24686b;
  width: 45%;
  line-height: 1.6;
}

.experience h3 {
  color: #333;
}

.skills h1,
.experience h1 {
  text-align: center;
}

.uni-name {
  color: #333;
}

.logo {
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding: 40px;
  background: #333;
  color: #fff;
}

@media (max-width: 600px) {
  .container {
    margin: 0;
  }
  .navBar h1 {
    border: none;
  }
  .navBar {
    text-align: center;
    margin: 0;
  }
  .navList {
    display: none;
  }

  .nav-item {
    display: none;
  }
  .my-photo img {
    width: 100%;
    height: 300px;
    border-radius: 50%;
  }
  .my-photo {
    display: block;
  }

  .about-me {
    margin-top: 30px;
    width: 200px;
    margin-left: 0px;
  }

  .logo {
    display: none;
    width: 0px;
  }

  .skills {
    height: 100%;
  }
  .skills,
  .experience,
  .education {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    padding: auto;
    overflow: auto;
  }
  .my-skills {
    padding: 0;
    width: 100%;
    display: block;
    text-align: center;
  }

  .skillsSection,
  .educationSection {
    height: 100%;
  }

  .contact-info {
    display: block;
    padding: 20px;
  }
  .my-info {
    margin-top: 40px;
  }
}

@media (max-width: 1024px) and (min-width: 601px) {
  .navBar {
    text-align: center;
    margin: 0;
  }
  .navList {
    display: none;
  }

  .nav-item {
    display: none;
  }
  .my-photo {
    display: block;
    text-align: center;
  }

  .my-photo img {
    margin-bottom: 40px;
  }

  .about-me {
    height: 100%;
  }

  .skillsSection,
  .educationSection,
  .eexperienceSection {
    height: 100%;
    text-align: center;
    padding: auto;
  }

  .my-skills {
    display: block;
    text-align: center;
  }

  .skills,
  .experience,
  .education {
    width: 100%;
    text-align: center;
  }
}
