body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  background: url("./images/pexels-darrel-und-1087182.jpg") no-repeat center
    center/cover;
}

h1,
h2 {
  text-align: center;
  margin-top: 30px;
  font-size: 60px;
  color: #000;
  font-weight: bold;
  margin: auto;
}

h2 {
  border: 2px solid #850808;
  border-radius: 20px;
  background: #850808;
  color: #fff;
  padding: 10px;
}

h3 {
  background: #333;
  padding: 20px;
  color: #fff;
  text-decoration: underline;
}
.grid-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 0px;
}

.grid-floats {
  padding-left: 0px;
}

.grid-item {
  background: rgb(243, 241, 225);
  height: 500px;
  border: solid 3px #850808;
  border-radius: 20px;
  margin: 30px 10px;
  text-decoration: none;
  overflow: auto;
  box-shadow: 10px 10px 50px gray;
  transition: all 0.9s;
}

.grid-item p {
  margin: 15px;
  font-weight: bold;
  font-size: 20px;
}

.grid-item:hover {
  background: rgb(241, 229, 136);
  color: #333;
}

.grid-flex .grid-item {
  flex: 1 0 calc(calc(100% - 104px) / 4);
  text-align: center;
}

img {
  width: 200px;
}

.grid-flex .grid-item:first-child {
  flex: 2 0 calc(calc(100% - 58px) / 2);
}

/* Mobile Mode  */
@media (max-width: 600px) {
  .grid-flex {
    display: flex;
    flex-direction: column;
  }

  .grid-floats .grid-item {
    text-align: center;
  }
  h2 {
    width: 80%;
    font-size: 22px;
  }
}

/* IPad Mode  */
@media (max-width: 1024px) and (min-width: 600px) {
  .grid-floats .grid-item {
    float: left;
    width: calc(
      calc(100% - 78px) / 3
    ); /* 18px width of border and 60px margin*/
    text-align: center;
    overflow: auto;
  }

  .grid-floats::after {
    content: "";
    clear: both;
    display: table;
  }
  .grid-floats .grid-item:first-child {
    float: left;
    width: calc(
      calc(100% - 52px) / 2
    ); /* 12px width of border and 40px margin*/
  }
  .grid-floats .grid-item:nth-child(2) {
    width: calc(calc(100% - 52px) / 2);
  }

  .grid-flex .grid-item {
    flex: 1 2 calc(calc(100% - 78px) / 3);
  }
  .grid-flex .grid-item:first-child {
    flex: 1 1 calc(calc(100% - 52px) / 2);
  }

  .grid-flex .grid-item:nth-child(2) {
    flex: 1 1 calc(calc(100% - 52px) / 2);
  }

  h2 {
    width: 50%;
  }
}

/* normal mode */
@media (min-width: 1025px) {
  .grid-floats .grid-item {
    float: left;
    width: calc(
      calc(100% - 104px) / 4
    ); /* 24px is the width of border and 80px is the margin*/
    text-align: center;
  }
  .grid-floats .grid-item p {
    overflow: auto;
  }

  .grid-floats .grid-item:first-child {
    width: calc(
      calc(100% - 58px) / 2
    ); /*18px the width of border and 40px margin*/
  }

  .grid-floats::after {
    content: "";
    clear: both;
    display: table;
  }
  h1,
  h2 {
    width: 50%;
  }
}
